body{
    background-image: url(1a2238.png);
    background-size: 2000px 600px;
    background-repeat: no-repeat;
    margin: 0;
}

.readmore{
   display: flex;
    color: white;
    border-style: solid;
    background-color: #9DAAF2;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    text-decoration:none;
    margin:auto;
   margin-top: 30px;
   width:70px;
    text-align: center;
 
 transition: background-color 1s,color 1s,height 2s, font-size 1s, padding 1s,transform 1s ,border-radius 1s, text-align 1s;;
    transition-delay: 0.5s;
}
.readmore:hover {
background-color: #FF6A3D;
font-size: 20px;
height: 50px; 
border-radius: 20px;
padding: 20px;
text-align:center;
  

}
.head_page{
    display: flex;
    margin: auto;
word-break: break-all;
word-wrap: normal;
margin-top: 80px;
color: #9DAAF2;
text-shadow: 3px 3px 5px rgb(71, 71, 71);

}
footer{
    bottom:0;
    display: flex;
    text-align: center;
word-break: break-all;
word-wrap:break-word;
margin-top: 100px;
align-items: flex-end;
color: #0025fa;
text-shadow: 5px 5px 8px rgb(71, 71, 71);
margin-bottom: auto;
flex-direction: column;
 
  width: 100%;    
  height: 60px;      
   
}